.signin-page-container {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: var(--bg-primary-color-main); */
  background-image: url(../../../../assets/image/bg_auth.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  transition: all 0.3s ease 0s;
}

.signin-wrapper {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: scroll; */
  margin: 10rem auto;
  margin-top: 5rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
  width: 22rem;
  height: auto;
  min-height: 450px;
  border: 0 solid var(--border-color-main);
  border-radius: 4px;
  position: relative;
}
.logo-wrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid var(--color-black); */
  width: 90%;
  height: 50px;
}
.brand-logo {
  max-width: 10%;
  height: auto;
}
.icon-close-wrapper {
  position: absolute;
  right: 8px;
  top: 8px;
  transform: scale(2) !important;
  transition: all 0.3s ease 0s;
}

.icon-close {
  color: var(--primary-color-main);
}
.icon-close:hover {
  color: var(--primary-color-main);
}
.icon-close:focus {
  /* outline: 1px dashed var(--primary-color-main); */
}

.form-signin-wrapper {
  width: 90%;
  height: 100%;
  margin-top: 2rem;
  /* border: 1px solid blue; */
  display: block;
  box-sizing: border-box !important;
}
.btn-signin {
  width: 100%;
  height: 50px;
  border: 1px solid var(--primary-color-main);
  border-radius: 1px;
  margin-top: 2rem;
  background-color: var(--primary-color-main);
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  transition: all 0.3s ease 0s;
}
.btn-signin:hover {
  background-color: var(--primary-color-main);
  border: 1px solid var(--primary-color-main);
  /* color: #000; */
  box-shadow: rgb(0 0 0 / 10%) 0px 0.3rem 1rem;
  cursor: pointer;
  transform: scale(1.015);
}
.btn-signin:focus {
  /* outline: 1px dashed var(--primary-color-main); */
  outline-offset: 4px;
}
.label-input {
  color: rgb(28, 32, 34);
}
.input-text {
  width: 100%;
  height: 50px;
  outline: none;
  border: 0 solid var(--border-color-main);
  border-radius: 4px;
  text-indent: 5px;
  text-decoration: none;
  font-style: italic;
  font-weight: 500;
  background-color: var(--bg-secondary-color-main);
}
.input-text:focus {
  border-bottom: 2px solid var(--primary-color-main);
  /* background-color: #fff; */
}
/* .input-text:invalid {
    border: 1px solid red;
  }
  .input-text:valid {
    border: 1px solid #000;
  } */

.label-title-input {
  margin: 10px 0 10px 0;
}

.label-password-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid var(--primary-color-main); */
}
.btn-forgetpassword {
  border: none;
  color: var(--primary-color-main);
  background-color: #fff !important;
  font-style: italic;
  font-weight: 700;
  /* border: 1px solid var(--primary-color-main); */
}

.btn-forgetpassword :hover {
  color: var(--primary-color-main);
}
.btn-forgetpassword :focus {
  outline: 1px dashed var(--primary-color-dark);
}

/* .avoid-clicks {
    pointer-events: none;
  } */
.alert-status {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  /* border: 1px solid var(--color-black); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-status-signin {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-bottom: 0;
}

.signup-nav-wrapper {
  background-color: #fff;
  width: 22rem;
  min-height: 50px;
  height: 50px;
  position: relative;
  top: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: scroll; */
  cursor: pointer;
  border: 0 solid var(--border-color-main);
  border-radius: 4px;
  color: rgb(28, 32, 34);
}
.btn-nav-signup {
  margin-left: 5px;
  border: none;
  color: var(--primary-color-main);
  background-color: #fff !important;
  font-style: italic;
  font-weight: 700;
}
.btn-nav-signup:hover {
  color: var(--primary-color-main);
}
.btn-nav-signup:focus {
  outline: 1px dashed var(--primary-color-dark);
}
